@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {



    div#imagem > img {
        width: 275px;
        height: 86px;
    }

    div#menuhamburguer {
        width: 100%;
        height: 66px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .topo-menu {
        height: 66px;
        box-shadow: inset 0 -4px 10px rgba(0, 0, 0, 0.137); /* sombra interna no fundo */; 
    }

    .redesociais {
        margin-left: auto;
        margin-right: 18px;
        gap: 10px !important;
    }

    .texto-siganos {
    display: inline-block;
    font-weight: lighter;
    color: #4d484d;
    font-size: 14px;
    margin: auto;
    padding-right: 13px;
    letter-spacing: 0.5px;
  }

    .topo-menu > a > p#zap {
    font-size: 15px;
  }

    section#atendimento {
        padding-top: 53px;
        padding-left: 23px;
        background: linear-gradient(to right, rgba(1, 8, 31, 0.856), rgba(0, 66, 97, 0.11)), url(https://www.cfladvogados.com.br/wp-content/uploads/lawyer-who-provides-legal-advice-in-the-office-businessman-and-lawyer-shaking-hands-1-1.jpg);;
        background-size: 110%;
        background-size: cover;
        background-position: center center;
        
    }

    #atendimento > em > h2 {
        font-size: 14px;
        padding-bottom: 10px;
    }

    #atendimento > h1 {
        width: 45%;
        font-size: 42px;
        line-height: 45px;
    }

    #atendimento > p {
        width: 47%;
        font-size: 15px;
        margin-bottom: 13px;
    }

    #chame, #email {
        margin: 0px;
        margin-left: 8px;
        margin-bottom: 14px;
    }

    #email {
        margin-bottom: 75px;
    }

    .conteudo {
        width: 47%;
        float: left;
        padding-left: 20px !important;
        margin-top: 45px !important;
        background-color: white;
        margin-bottom: 70px;
    }

    .conteudo > em > h2 {
        margin-top: 20px;
        font-size: 15px !important;
    }

    .conteudo > h1 {
        font-size: 2.29em !important;
        line-height: 36px;
        padding-bottom: 8px;
    }

    .conteudo > p {
        display: block ;
        position: relative;
        font-size: 15px;
        line-height: 22px;
        width: 90%;
        z-index: 1 !important;
        margin-bottom: 10px;
    }

    .triangulo {
        position: relative;
        
    }

    .triangulo > img {
        position: absolute;
        left: -20px;
        top: -450px;
        width: 97.7vw !important;
        
    }

    #advogado {
        background-color: white;
        display: flex;
        flex-direction: column;
        float: right;
    }

    .bloco-foto {
        margin-top: -100px;
        margin-right: 20px;
    }

    .bloco-foto > img {
        display: inline-block;
        width: 370px;
        height: 453px;
        object-fit: cover;
        
    }

    .fundo-laranja {
        width: 370px;
        height: 453px;
        margin-right: 5px;
    }

    .selo {
        position: absolute;
        width: 177px;
        height: 152px;
        left: 227px;
    }

    .selo > h1 {
        font-weight: bold;
        font-size: 55px;
    }

    .selo > p {
        display: none;
    }

    #oculto {
        display: inline-block;
        font-size: 17px;
    }

    .sessao {
        position: relative;
        background-color: white;
        padding: 40px 0;
        width: 100%;
        z-index: 1;
        
    }

    .servicos {
        position: relative;
        z-index: 0;
        clear: both; /* Impede que flutue ao lado de conteúdo anterior */
        padding-top: 20px;
    }

    .servicos > h1 {
        font-size: 38px;
        line-height: 40px;
    }

    .acoestrab {
        display: flex;
        flex-flow: row wrap;
        gap: 0px;
    }

    .acao {
        width: 254px !important;
        height: 431px !important;
    }

    .acao > em > h2 {
        font-size: 14px;
    }

    .acao > h1 {
        font-size: 21.5px;
    }

    .acao > p {
        font-size: 14px;
        line-height: 25px;
        margin: 5px auto 5px auto;
        text-align: center;
    }

    .defenda {
        background-size: 100% !important;
    }

    .defenda > h1 {
        padding-top: 80px;
        padding-left: 30px;
        font-size: 37px;
        width: 50%;
        line-height: 35px;
    }

    .defenda > p {
        width: 50%;
        font-size: 15px;
    }
    
    #chame3 {
        margin-bottom: 50px;
    }

    .avaliacao {
        display: flex !important;
        flex-flow: row nowrap;
        place-content: center;
        gap: 75px !important;
    }

    .satisfeito, .acoes, .anos, .feedback, .ouvir > h1{
        font-size: 23px;
    }

    .satisfeito, .acoes, .anos, .feedback, .ouvir > h2 {
        padding-bottom: 40px;
    }

    .ouvir {
        padding-bottom: 10px;
    }

    #fundo {
        background: linear-gradient(to right, rgba(1, 32, 61, 0.486), rgba(0, 0, 0, 0.7)), url(../imagens/the-legal-execution-department-makes-an-appointment-with-the-customer-to-sign-a-mediation-agreement-1.jpg) no-repeat !important;;
        background-position: center center !important;
        background-size: cover !important;
    }

    #fundo > h1 {
        font-size: 35px !important;
        width: 80%;
        padding-bottom: 5px;
    }

    .casos {
        display: flex;
        flex-direction: row;
    }

    .caso {
        width: 257px !important;
        height: 338px !important;
        position: initial !important;
        margin-top: -80px !important;
    }

    .caso > i {
        padding-bottom: 2px !important;
    }

    .caso > h1 {
        font-size: 22px;
    }

    .caso > p {
        font-size: 16px;
        line-height: 24px;
        width: 90% !important;
    }

    a.chame4, a#inverso {
        width: 205px !important;
        height: 53px !important;
    }

    footer > h1 {
        text-align: left;
        padding-left: 28px;
        width: 60%;
        font-size: 21px;
        letter-spacing: 0.2px;
    }

    footer > form > p >#WhatsAppInput {
    display: block;
    width: 100%;
    max-width: 290px;
    height: 50px;
    margin: 0 0 0 28px;
    padding: 0 15px;
    font-size: 18px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f2f2f2;
    color: #444;
    position: relative;
    z-index: 0;
    transition: border 0.1s ease, background-color 0.1s ease;
    }

    #WhatsAppInput:focus {
    outline: none;
    border: 2px solid #ffb347;
    background-color: white;
    box-shadow: 0 0 0 5px white; /* expande mais */
    }
    
    #botaoSolicitar {
        height: 50px;
        width: 146px;
        margin-top: -50px;
        margin-right: 363px;
    }

    footer > img {
        height: 71px !important;
        width: 219px !important;
        margin-top: -151px;
        margin-right: 31px;
    }

    .redes {
        margin-left: 700px !important;
    }

    .texto-endereco > p {
        width: 60%;
    }

    #um {
        margin-top: -220px;
        margin-left: 408px;
    }

    .contato {
        margin-top: -185px;
        margin-left: 408px;
    }

    hr#linha {
        width: 95%;
    }

    .creditos > p {
        display: none;
    }

    .creditos {
        display: flex;
    }

    #ocultado {
        display: inline-block;
        align-content: center;
        align-items: center;
        margin: 0px auto 25px auto;
        font-size: 15px;
        text-align: center;
        max-width: 100%;
        line-height: 23px;
    }
}

@media screen and (min-width: 992px) {

    #imagem > img {
        width: 250px !important;
        height: 80px !important;
        margin-right: 325px;
    }

    .contatos {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        margin: 18px 0;
        text-decoration: none;
        color: inherit;
        padding-left: 35px;
    }

    .contatos > i, #whatsappp {
        display: flex;
        min-width: 46px;
        height: 46px;
        color: #ffa930;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border: 2px solid #ffa930;
        border-radius: 2px;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
    }

    #whatsappp > img {
        width: 23px;
        height: 23px;
    }

    .texto-contatos > h1 {
        color: #000000;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 15px;
        margin: 0;
    }

    .texto-contatos > p {
        color: #000000;
        font-size: 14px;
        margin-top: 1px;
        line-height: 1.4;
        font-weight: bold;
    }

    .marque {
        display: flex;
        height: 48px;
        width: 231px;
        border-radius: 2px;
        color: white;
        font-size: 13px;
        font-weight: bolder;
        letter-spacing: 1px;
        background-color: #ffa930;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        margin-left: 70px;
    }

    .marque:hover {
        background-color: #ff9500;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    i#menu {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    .texto-siganos {
    display: inline-block;
    font-weight: bold;
    color: #4d484d;
    font-size: 17px;
    margin: auto;
    padding-right: 13px;
    letter-spacing: 0.5px;
    }

   #menuhamburguer {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    flex-direction: row-reverse; 
    background-color: rgb(245, 245, 245);
    box-shadow: inset 0 -4px 10px rgba(0, 0, 0, 0.137);
    }

    .topo-menu {
        height: 58px !important;
        display: flex !important;
        flex-direction: row !important;
    }

    menu#itens {
    display: flex !important;
    justify-content: flex-start;
    width: 100%;
    background: none;
    }

    menu#itens > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    }

    menu#itens > ul > li, #fale{
    border: none;
    background-color: transparent;
    }

    menu#itens > ul > li > a {
    text-decoration: none;
    color: #001133;
    font-weight: 500;
    display: inline-block;
    background: none;
    }

    .invisivel {
    display: inline-block;
    transform: rotate(90deg);
    width: 22px;
    height: 1px;
    background-color: black;
    border: 0px solid black;
    }

    menu#itens > ul > li > a#ahome {
        color: #ff9e4a;
        font-weight: bold;
        border-top: 3px solid #ff9e4a;
    }

    menu#itens > ul > li > a  {
        font-weight: bold;
    }

    menu#itens > ul > li > a:hover {
        color: #ff9e4a;
        font-weight: bold;
        border-top: 3px solid #ff9e4a;
        transition: 0.3s ease, color 0.3s ease;
    }

    #rodar {
        margin-left: -250px;
    }

    #zap {
        font-size: 12px !important;
        padding-right: 30px !important;
        margin-bottom: 1px;
    }

    #atendimento {
        background: linear-gradient(to right, rgba(2, 39, 87, 0.856), rgba(0, 66, 97, 0.11)), url(https://www.cfladvogados.com.br/wp-content/uploads/lawyer-who-provides-legal-advice-in-the-office-businessman-and-lawyer-shaking-hands-1-1.jpg);;
        background-size: 100% !important;
        background-size: cover;
        background-position: center center;
        height: 655px;
    }

    #atendimento > em > h2 {
        font-size: 14px;
        padding-bottom: 10px;
        margin-top: 62px;
        margin-left: 60px;
    }

    #atendimento > h1 {
        width: 45%;
        font-size: 67px;
        line-height: 65px;
        margin-left: 60px;
    }

    #atendimento > p {
        width: 47%;
        font-size: 15px;
        margin-bottom: 13px;
        margin-left: 60px;
    }

    #chame, #email {
        margin-left: 60px;
        height: 52px;
        width: 208px;
    }
    
    #email {
        margin-top: -52px;
        margin-left: 282px !important;
    }

    .conteudo {
        width: 48%;
        float: left;
        padding-left: 30px !important;
        margin-top: 45px !important;
        background-color: white;
        margin-bottom: 70px;
    }

    .conteudo > em > h2 {
        margin-top: 0px;
        font-size: 15px !important;
    }

    .conteudo > h1 {
        font-size: 3em !important;
        line-height: 46px;
        padding-bottom: 8px;
    }

    .conteudo > p {
        display: block ;
        position: relative;
        font-size: 15px;
        line-height: 22px;
        width: 89%;
        z-index: 1 !important;
        margin-bottom: 10px;
    }

    .triangulo {
        position: relative;
        
    }

    .triangulo > img {
        position: absolute;
        left: -27px;
        top: -450px;
        width: 98.7vw !important;
        
    }

    #advogado {
        background-color: white;
        display: flex;
        flex-direction: column;
        float: right;
        width: 50%;
    }

    .bloco-foto {
        margin-top: -100px;
        margin-right: 5px !important;
    }

    .bloco-foto > img {
        display: inline-block;
        width: 593px;
        height: 450px;
        object-fit: cover;
        
    }

    .fundo-laranja {
        width: 590px;
        height: 443px;
        margin-right: 40px !important;
    }

    .selo {
        position: absolute;
        width: 202px;
        height: 151px;
        left: 430px;
    }

    .selo > h1 {
        font-weight: bold;
        font-size: 55px;
    }

    .selo > p {
        display: none;
    }

    #oculto {
        display: inline-block;
        font-size: 17px;
    }

    .sessao {
        position: relative;
        background-color: white;
        padding: 40px 0;
        width: 100%;
        z-index: 1;
        
    }

    .servicos {
        position: relative;
        z-index: 0;
        clear: both; /* Impede que flutue ao lado de conteúdo anterior */
        padding-top: 20px;
    }

    .servicos > h1 {
        font-size: 45px;
        width: 50%;
        line-height: 45px;
    }

    .acoestrab {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Centraliza os cards na linha */
        gap: 10px; /* Espaçamento entre os cards */
        padding: 0 40px;
    }

    .acao {
        display: block !important;
        width: 403px !important;
        height: 355px !important;
    }

    .acao > #balance {
        height: 71px !important;
        width: 71px !important;
        margin: 30px 10px 0px 30px !important;
        font-size: 45px !important;
    }

    .acao > em > h2 {
        font-size: 16px;
        margin-top: -65px;
        margin-left: 120px;
    }

    .acao > h1 {
        font-size: 21.5px;
        position: relative;
        max-width: 239px;
        margin-left: 110px;
    }

    .acao > .linha-separadora {
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .acao > p {
        
        font-size: 15px;
        line-height: 25px;
        margin: 0px auto 5px 28px;
        text-align: left;
    }

    #leia {
        height: 44px;
        width: 122px;
        margin: 15px auto 28px 28px;
    }

    .defenda {
        height: 521px;
        padding-left: 40px;
        background-size: cover !important; 
    }

    .defenda > h1 {
        padding-top: 139px;
        font-size: 47px !important;
        width: 60%;
        line-height: 50px;
    }

    .defenda > p {
        width: 58%;
    }

    .defenda > div > #chame3 {
        padding-bottom: 50px;
    }

    .avaliacao {
        display: flex !important;
        flex-flow: row nowrap;
        place-content: center;
        gap: 75px !important;
    }

    .satisfeito, .acoes, .anos, .feedback, .ouvir > h1{
        font-size: 35px;
        margin: 0px 35px ;
    }

    .satisfeito, .acoes, .anos, .feedback, .ouvir > h2 {
        padding-bottom: 40px;
    }

    .ouvir {
        padding-bottom: 10px;
    }

    #fundo {
        background: linear-gradient(to right, rgba(1, 32, 61, 0.486), rgba(0, 0, 0, 0.7)), url(../imagens/the-legal-execution-department-makes-an-appointment-with-the-customer-to-sign-a-mediation-agreement-1.jpg) no-repeat !important;;
        background-position: center center !important;
        background-size: cover !important;
    }

    #fundo > h1 {
        font-size: 45px !important;
        width: 50%;
        padding-bottom: 5px;
    }

    .casos {
        display: flex;
        flex-direction: row;
        align-content: center !important;
        align-items: center !important;
    }

    .caso {
        width: 404px !important;
        height: 296px !important;
        position: initial !important;
        margin-top: -80px !important;
        margin-bottom: 100px !important;
    }

    #conte {
        margin-left: 40px;

    }

    #solucao {
        margin-right: 40px;
    }

    .caso > i {
        padding-bottom: 2px !important;
    }

    .caso > h1 {
        font-size: 22px;
    }

    .caso > p {
        font-size: 16px;
        line-height: 24px;
        width: 90% !important;
    }

    a.chame4, a#inverso {
        width: 205px !important;
        height: 53px !important;
    }

    footer > h1 {
        text-align: left;
        padding-left: 50px;
        width: 40%;
        font-size: 25px;
        letter-spacing: 0.2px;
    }

    footer > form > p >#WhatsAppInput {
        display: block;
        width: 100%;
        max-width: 335px;
        height: 47px;
        margin: 0 0 0 50px;
        padding: 0 15px;
        font-size: 18px;
        border: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: #f2f2f2;
        color: #444;
        position: relative;
        z-index: 0;
        transition: border 0.1s ease, background-color 0.1s ease;
    }

    #WhatsAppInput:focus {
        outline: none;
        border: 2px solid #ffb347;
        background-color: white;
        box-shadow: 0 0 0 5px white; /* expande mais */
    }
    
    #botaoSolicitar {
        height: 47px;
        width: 169px;
        margin-top: -47px;
        margin-right: 797px;
    }

    #botaoSolicitar > p {
        font-weight: bold;
    }

    footer > img {
        height: 71px !important;
        width: 219px !important;
        margin-top: -151px;
        margin-right: 50px;
    }

    .redes {
        margin-left: calc(91.5% - 50px) !important;
    }

    .endereco {
        padding-left: 25px;
    }

    .texto-endereco > p {
        width: 60%;
    }

    #um {
        margin-top: -220px;
        margin-left: 496px;
    }

    .contato {
        margin-top: -222px;
        margin-left: 1062px;
    }

    #dois {
        margin-top: -210px;
        margin-left: 805px;
        margin-bottom: 40px !important;
    }

    hr#linha {
        margin-top: 80px;
        width: 93.5%;
    }

    hr#linhaum {
        width: 93.5%;
        margin: auto;
        margin-top: 35px;
        margin-bottom: 35px;
        border: 0.1px solid #2b3b4d;
    }

    .creditos > p {
        margin-left: 41px;
        margin-top: -10px;
    }

    #politica {
        margin-right: 50px;
    }

    .creditos {
        display: flex;
    }
}