@charset "UTF-8";

/*rgb(255, 149, 0)*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    overflow-x: hidden;
}

    @media (max-width: 768px) {
  .topo-menu {
    justify-content: space-between;
    padding: 0 10px;
  }

  .redesociais {
    margin-left: auto;
    padding: 0; /* Garante que não tenha padding sobrando */
    margin-right: 20px;
  }
}

header {
    position: absolute;
    z-index: 1000;
    width: 100%;
    transition: all 0.3s ease;
}

header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

div#imagem {
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    padding: 20px 0;
    cursor: pointer;
}

div#imagem > img {
    width: 76.5%;
}

div#menuhamburguer {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 20, 41);
    height: 57px;
    width: 100%;
    z-index: 999;
}

.topo-menu {
    display: flex;
    align-items: center;
    gap: 1px;
    height: 57px;
    background-color: rgb(245, 245, 245);
    flex-wrap: wrap;
    box-shadow: inset 0 -4px 10px rgba(0, 0, 0, 0.137); /* sombra interna no fundo */;
}

.topo-menu > p {
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(0, 20, 41);;
    letter-spacing: 1.5px;
    font-size: 21px;
}

.topo-menu > a > p#zap {
    display: inline-flex;
    font-weight: bolder;
    color: #ffa930;
    letter-spacing: 1.5px;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 10px;
}

i#menu {
    font-size: 29px;
    font-weight: bolder;
    padding: 13px;
    padding-left: 15px;
    cursor: pointer;
}

menu#itens > ul > li {
    border-top: 1px solid rgba(128, 128, 128, 0.272);
    background-color: rgb(245, 245, 245);
}

menu#itens > ul > li#fale {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

menu#itens > ul > li > a {
    text-decoration: none;
    display: block;
    margin-left: 14px;
    text-decoration: none;
    color: rgb(71, 71, 71);
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    font-weight: bold;
    padding: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-item {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}

#itens {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

#itens.aberto {
    max-height: 500px; /* valor suficiente pra acomodar o menu todo */
}

li > a > span > i#add {
    font-weight: bolder;
    vertical-align: middle;
}

div.redesociais {
    display: flex;
    
    gap: 6px;
}

div.redesociais > a > i {
    display: inline-flex;
    width: 28px;
    height: 28px;
    color: white;
    font-size: 13px;
    background-color: #ffa930;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

main {
    padding-top: 57px;
}

section#atendimento {
    padding: 18px;
    background: linear-gradient(to right, rgba(0, 22, 43, 0.486), rgba(0, 0, 0, 0.7)), url(https://www.cfladvogados.com.br/wp-content/uploads/lawyer-who-provides-legal-advice-in-the-office-businessman-and-lawyer-shaking-hands-1-1.jpg) no-repeat top center;;
    color: #ffffff;
}

#atendimento > em > h2 {
    font-size: 16px;
    color: #ffa930;
    font-weight: normal;
    padding: 5px;
    padding-top: 30px;
}

#atendimento > h1 {
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding-left: 6px;
}

#atendimento > p {
    padding: 9px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
    letter-spacing: 1px;
    text-align: left;
    
}

#chame, #email {
    display: block;
    max-width: 97%;
    width: 360px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    border-radius: 2px;
    margin: 16px auto 0 auto;
    text-decoration: none;
    font-weight: normal;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

#chame {
    background-color: #ffa930;
    color: white;
}

#chame:hover {
    background-color: rgb(255, 149, 0);
}

#email {
    border: 1px solid #ffa930;
    background-color: transparent;
    color: #ffa930;
}

#email:hover {
    background-color: rgb(255, 149, 0);
    color: white;
}

section#conteudo {
    margin-top: 36px;
    padding: 0px 10px 0px 8px;
}

section#conteudo > em > h2 {
    font-size: 15.5px;
    color: #ffa930;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10px;
}

section#conteudo > h1 {
    font-size: 1.80em;
    margin-top: 10px;
    margin-bottom: 19px;
    font-weight: normal;
    padding-left: 10.6px;
    letter-spacing: -1.5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#conteudo > p {
    font-weight: lighter;
    color: black;
    letter-spacing: .5px;
    line-height: 1.5;
    padding-left: 10px;
}

.decorado > p {
    position: relative;
    z-index: 1;
    color: #000;
    font-weight: lighter;
    line-height: 1.5;
}

div.decorado {
    position: relative;
    width: 100%;
}

div.triangulo {
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    pointer-events: none;
    
}

#direito, #esquerdo {
    width: 46px;
    height: auto;
}

#esquerdo {
    position: absolute;
    left: 0;
    bottom: 90px;
    margin-left: -8px;
}

#direito {
    position: absolute;
    right: 0;
    bottom: 150px;
    margin-right: -9px;
}

#advogado {
    margin-top: 100px;
    padding: 20px;
}

.fundo-laranja {
  position: absolute;
  bottom: -12px;   /* quanto sai da base */
  right: -12px;    /* quanto sai da lateral */
  width: 336px;
  height: 260px;
  background-color: #ffa930;
  z-index: 0;      /* atrás da imagem */
}

.bloco-foto {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.bloco-foto > img {
    width: 336px;
    height: auto;
    display: block;
    position: relative;
    z-index: 2;
}

.selo {
    position: absolute;
    top: -85px;
    right: -26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    width: 140px;
    background-color: rgb(255, 165, 38);
    color: #ffffff;
    z-index: 3;
}

.selo > h1 {
    font-weight: normal;
    padding-top: 7px;
    padding-bottom: 3px;
    font-size: 2.7em;
    letter-spacing: -5px;
}

.selo > p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin: 0;
}

a#chame2 {
    display: block;
    max-width: 60%;
    width: 214px;
    height: 54px;
    line-height: 52px;
    text-align: center;
    border-radius: 2px;
    margin: 55px 0 auto;
    text-decoration: none;
    font-weight: normal;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #ffa930;
    color: white;
    }

#chame2:hover {
    background-color: rgb(255, 149, 0);
}














footer {
    background-color: rgb(0, 20, 41);
    color: white;
    text-align: center;
    width: 100%;
}

footer > p {
    padding-bottom: 0px;
    margin: 0px;
    font-size: 13px;
}