@charset "UTF-8";

/*rgb(255, 149, 0)*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    overflow-x: hidden;
}

    @media (max-width: 768px) {
  .topo-menu {
    justify-content: space-between;
    padding: 0 10px;
  }

  .redesociais {
    margin-left: auto;
    padding: 0; /* Garante que não tenha padding sobrando */
    margin-right: 20px;
  }
}

header {
    position: absolute;
    z-index: 1000;
    width: 100%;
    transition: all 0.3s ease;
}

header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

div#imagem {
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    padding: 20px 0;
    cursor: pointer;
}

div#imagem > img {
    width: 76.5%;
}

div#menuhamburguer {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 20, 41);
    height: 57px;
    width: 100%;
    z-index: 999;
}

.topo-menu {
    display: flex;
    align-items: center;
    gap: 1px;
    height: 57px;
    background-color: rgb(245, 245, 245);
    flex-wrap: wrap;
    box-shadow: inset 0 -4px 10px rgba(0, 0, 0, 0.137); /* sombra interna no fundo */;
}

.topo-menu > p {
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(0, 20, 41);;
    letter-spacing: 1.5px;
    font-size: 21px;
}

.topo-menu > a > p#zap {
    display: inline-flex;
    font-weight: bolder;
    color: #ffa930;
    letter-spacing: 1.5px;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 10px;
}

i#menu {
    font-size: 29px;
    font-weight: bolder;
    padding: 13px;
    padding-left: 15px;
    cursor: pointer;
}

menu#itens > ul > li {
    border-top: 1px solid rgba(128, 128, 128, 0.272);
    background-color: rgb(245, 245, 245);
}

menu#itens > ul > li#fale {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

menu#itens > ul > li > a {
    text-decoration: none;
    display: block;
    margin-left: 14px;
    text-decoration: none;
    color: rgb(71, 71, 71);
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    font-weight: bold;
    padding: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-item {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}

#itens {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

#itens.aberto {
    max-height: 500px; /* valor suficiente pra acomodar o menu todo */
}

li > a > span > i#add {
    font-weight: bolder;
    vertical-align: middle;
}

div.redesociais {
    display: flex;
    
    gap: 6px;
}

div.redesociais > a > i {
    display: inline-flex;
    width: 28px;
    height: 28px;
    color: white;
    font-size: 15px;
    background-color: #ffa930;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.texto-siganos {
  display: none;
}
main {
    padding-top: 57px;
}

section#atendimento {
    padding: 18px;
    background: linear-gradient(to right, rgba(1, 8, 31, 0.856), rgba(0, 66, 97, 0.11)), url(https://www.cfladvogados.com.br/wp-content/uploads/lawyer-who-provides-legal-advice-in-the-office-businessman-and-lawyer-shaking-hands-1-1.jpg) no-repeat top center;;
    color: #ffffff;
}

#atendimento > em > h2 {
    font-size: 16px;
    color: #ffa930;
    font-weight: normal;
    padding: 5px;
    padding-top: 30px;
}

#atendimento > h1 {
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding-left: 6px;
}

#atendimento > p {
    padding: 9px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
    letter-spacing: 1px;
    text-align: left;
    
}

#chame, #email {
    display: block;
    max-width: 97%;
    width: 360px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    border-radius: 2px;
    margin: 16px auto 0 auto;
    text-decoration: none;
    font-weight: normal;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

#chame {
    background-color: #ffa930;
    color: white;
}

#chame:hover {
    background-color: rgb(255, 149, 0);
}

#email {
    border: 1px solid #ffa930;
    background-color: transparent;
    color: #ffa930;
}

#email:hover {
    background-color: rgb(255, 149, 0);
    color: white;
}

section.conteudo {
    margin-top: 36px;
    padding: 0px 10px 0px 8px;
}

section.conteudo > em > h2 {
    font-size: 15.5px;
    color: #ffa930;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10px;
}

section.conteudo > h1 {
    font-size: 1.80em;
    margin-top: 10px;
    margin-bottom: 19px;
    font-weight: normal;
    padding-left: 10.6px;
    letter-spacing: -1.5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.conteudo > p {
    font-weight: normal;
    color: rgb(72, 72, 89);
    letter-spacing: .5px;
    line-height: 1.5;
    padding-left: 10px;
    margin-bottom: 12px;
}

.decorado > p {
    position: relative;
    z-index: 1;
    color: rgb(72, 72, 89);
    font-weight: normal;
    line-height: 1.5;
    padding-left: 10px;
}

div.decorado {
    position: relative;
    width: 100%;
}

div.triangulo > img {
    position: absolute;
    bottom: 10px;
    right: -10px;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    pointer-events: none;
    width: 97vw;
    
    
}

#advogado {
    margin-top: 100px;
    padding: 20px;
}

.fundo-laranja {
  position: absolute;
  bottom: -12px;   /* quanto sai da base */
  right: -12px;    /* quanto sai da lateral */
  width: 336px;
  height: 260px;
  background-color: #ffa930;
  z-index: 0;      /* atrás da imagem */
}

.bloco-foto {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.bloco-foto > img {
    width: 336px;
    height: auto;
    display: block;
    position: relative;
    z-index: 2;
}

.selo {
    position: absolute;
    top: -85px;
    right: -26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    width: 140px;
    background-color: rgb(255, 165, 38);
    color: #ffffff;
    z-index: 3;
}

.selo > h1 {
    font-weight: normal;
    padding-top: 7px;
    padding-bottom: 3px;
    font-size: 2.7em;
    letter-spacing: -5px;
}

.selo > p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin: 0;
}

a#chame2 {
    display: block;
    max-width: 60%;
    width: 214px;
    height: 54px;
    line-height: 52px;
    text-align: center;
    border-radius: 2px;
    margin: 55px 0 auto;
    text-decoration: none;
    font-weight: normal;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #ffa930;
    color: white;
    margin-bottom: 30px;
    }

#chame2:hover, #chame3:hover{
    background-color: rgb(255, 149, 0);
}

section.servicos {
    background-color: rgb(242, 242, 242);
    padding-bottom: 22px;
}

.servicos > h2 {
    text-align: center;
    color: #ffa930;
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 25px;
    font-weight: normal;
    letter-spacing: -0.5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.servicos > h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 70%;
    text-align: center;
    font-weight: normal;
    letter-spacing: -1.1px;
    font-size: 29px;
    line-height: 28px;
    margin: auto;
    margin-bottom: 47px;
    
}

div.acao {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 425px;
    width: 89%;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.acao > i#balance {
    width: 53px;
    height: 53px;
    font-size: 37px;
    color: white;
    background-color: #ffa930;
    text-align: center;
    align-content: center;
    border-radius: 2px;
    font-weight: lighter;
    margin: 0px auto 15px auto;
}

.acao > em > h2 {
    color: #ffa930;
    font-size: 15px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 5px;
}

.acao > h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: normal;
    letter-spacing: -1.1px;
    font-size: 22px;
    line-height: 28px;
    max-width: 80%;
}

.linha-separadora {
    width: 85%;
    margin: auto;
    margin: 20px 0px 20px 0px;
    color: rgb(236, 236, 236);
}

.acao > p {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.3em;
    text-align: left;
    width: 80%;
    color: rgb(71, 71, 71);
}

#leia {
    display: block;
    max-width: 90%;
    width: 283px;
    height: 44px;
    align-content: center;
    text-align: center;
    border-radius: 2px;
    margin: auto;
    text-decoration: none;
    font-weight: normal;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #ffa930;
    color: white;
    margin-bottom: 0px;
    margin-top: 30px;
}

#leia:hover {
    background-color: rgb(255, 149, 0);
}

section.defenda {
    background: linear-gradient(to right, rgba(1, 32, 61, 0.486), rgba(0, 0, 0, 0.7)), url(../imagens/notary-public-wax-stamper-white-envelope-with-brown-wax-seal-golden-stamp-responsive-design-1-1.jpg) no-repeat center center;;
    background-size: 170%;
}

.defenda > p, .defenda > h1 {
    color: #ffffff;
    padding-left: 33px;
    text-align: left;
    max-width: 90%;
}

.defenda > h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 77px;
    font-size: 30px;
    letter-spacing: -1.5px;
    font-weight: normal;
    line-height: 30px;
}

.defenda > p {
    padding-top: 25px;
    font-size: 17px;
    line-height: 25px;
    padding-bottom: 36px;
}

.defenda > div {
    padding-left: 33px;
    padding-bottom: 59px;
}

div > #chame3 {
    display: block;
    max-width: 60%;
    width: 214px;
    height: 54px;
    line-height: 52px;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
    font-weight: normal;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #ffa930;
    color: white;
}

section.avaliacao {
    display: grid;
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    text-align: center;
    margin-top: 30px;
}

.avaliacao > div > h1 {
    color: #ff9f19;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    font-weight: normal;
    letter-spacing: -2px;
}

.avaliacao > div > h2 {
    color: black;
    font-weight: lighter;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

.satisfeito {
    grid-area: 1/1/2/2;
}

.acoes {
    grid-area: 1/2/2/2;
}

.anos {
    grid-area: 2/1/2/2;
}

.feedback {
    grid-area: 2/2/2/2;
}

.ouvir {
    position: relative;
    padding-bottom: 210px;
    background-color: rgb(247, 247, 247);
}

.ouvir > div#fundo {
    background: linear-gradient(to right, rgba(1, 32, 61, 0.486), rgba(0, 0, 0, 0.7)), url(../imagens/the-legal-execution-department-makes-an-appointment-with-the-customer-to-sign-a-mediation-agreement-1.jpg) no-repeat;;
    background-size: cover;
    width: 100%;
    height: 252px;
    position: relative;
    z-index: 0;
}

.ouvir > div#fundo > h1 {
    color: #ffffff;
    font-weight: normal;
    font-size: 27px;
    letter-spacing: -1px;
    text-align: center;
    margin: auto;
    padding: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ouvir > .caso {
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 347px;
    height: 330px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #474747;
    align-items: center;
}

.ouvir > .caso > i {
    color: #ffa930;
    font-size: 45px;
    padding: 25px;
}

.ouvir > .caso > h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    letter-spacing: -1px;
    padding-bottom: 10px;
}

.ouvir > .caso > p {
    text-align: center;
    width: 80%;
}

.chame4 {
    display: block;
    max-width: 80%;
    width: 213px;
    height: 52px;
    align-content: center;
    text-align: center;
    margin: auto;
    text-decoration: none;
    font-weight: normal;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #ffa930;
    color: white;
    margin-bottom: 30px;
    margin-top: 35px;
}

.chame4:hover {
    background-color: rgb(255, 149, 0);
}

#analisar {
    position: relative;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 347px;
    height: 330px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    background-color: #ff9f19;
    color: white;
    align-items: center;
}

#analisar > i {
    color: white;
}

#solucao {
    position: relative;
    position: relative;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 347px;
    height: 330px;
    margin: auto;
    margin-bottom: 20px;
    align-items: center;
}

#inverso {
    display: block;
    max-width: 80%;
    width: 213px;
    height: 52px;
    align-content: center;
    text-align: center;
    margin: auto;
    text-decoration: none;
    font-weight: normal;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #ffffff;
    color: black;
    margin-bottom: 30px;
    margin-top: 35px;
}

#inverso:hover {
    background-color: #001429;
    color: #ffffff;
}

footer {
    background-color: rgb(0, 20, 41);
    color: white;
}

footer > h1 {
    padding-top: 42px;
    padding-bottom: 20px;
    font-size: 21.5px;
    text-align: center;
    font-weight: normal;
    letter-spacing: -0.4px;
    font-family: 'Times New Roman', Times, serif;
}

#botaoSolicitar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espaço entre ícone e texto */
  width: 100%;
  max-width: 340px;
  height: 48px;
  margin: 10px auto;
  margin-bottom: 35px;
  background-color: #ffa930;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#botaoSolicitar:hover {
  background-color: rgb(255, 149, 0);
}

footer > form > p >#WhatsAppInput {
  display: block;
  width: 100%;
  width: 340px;
  height: 48px;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 18px;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f2f2f2;
  color: #444;
  position: relative;
  z-index: 0;
  transition: border 0.1s ease, background-color 0.1s ease;
}

#WhatsAppInput:focus {
  outline: none;
  border: 2px solid #ffb347;
  background-color: white;
  box-shadow: 0 0 0 5px white; /* expande mais */
}

footer > img {
    display: block;
    margin: auto;
    width: 57%;
    height: 57%;
    margin-bottom: 20px;
}

footer > .redes {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 5px;
}

footer > div.redes > a {
    text-decoration: none;
}

footer > .redes > a > i {
    background-color: #ffa930;
    width: 28px;
    height: 28px;
    text-align: center;
    align-content: center;
    border-radius: 2px;
    font-size: 14px;
    color: #ffffff;
    transition: transform 0.1s ease;
}

.redes > a > i:active {
    transform: scale(1.1);
}

hr#linha {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 35px;
    border: 0.1px solid #2b3b4d;
}

.endereco > h1 {
    padding-left: 23px;
    color: #ffa82e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.item-endereco {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin: 18px 0;
  text-decoration: none;
  color: inherit;
  padding-left: 23px;
}

.item-endereco i {
  min-width: 40px;
  height: 40px;
  color: #ffa930;
  background-color: #001429;
  border: 2px solid #ffa930;
  border-radius: 2px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

.texto-endereco h1 {
  color: #ffa930;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  margin: 0;
}

.texto-endereco p {
  color: #f2f2f2;
  font-size: 14px;
  margin-top: 4px;
  line-height: 1.4;
}

section.partefinal {
    padding-left: 23px;
}

.partefinal > .atesc > h1 {
    color: #ffa930;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 18px;
    padding-top: 18px;
}

.partefinal > .atesc > p > i {
    color: #faa62f;
    font-size: 15px;
    padding-bottom: 15px;
}

.partefinal > .atesc > p:hover {
    color: #ed8f02;
    transition: .5s;
    cursor: pointer;
}

i#check {
    font-weight: bold;
}

.contato > h1 {
    padding-left: 23px;
    color: #ffa82e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    padding-top: 25px;
}

.item-contato {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin: 18px 0;
  text-decoration: none;
  color: inherit;
  padding-left: 23px;
}

.item-contato > i {
  min-width: 40px;
  height: 40px;
  color: #ffa930;
  background-color: #001429;
  border: 2px solid #ffa930;
  border-radius: 2px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}

.texto-contato > h1 {
  color: #ffa930;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  margin: 0;
}

.texto-contato > p {
  color: #f2f2f2;
  font-size: 14px;
  margin-top: 4px;
  line-height: 1.4;
}

.creditos > p {
    margin: 0px auto;
    font-size: 15px;
    text-align: center;
    max-width: 80%;
    line-height: 23px;
}

.creditos > p#politica {
    padding-bottom: 28px;
}

#whats {
  position: fixed;
  bottom: 15px;
  right: 17px;
  z-index: 9999;
  background-color: #25D366;
  color: white;
  border: 2px solid white;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  line-height: 60px;
  font-size: 43px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

#oculto {
    display: none;
}